
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400&display=swap');

:root{
  --bg-main: #131722;
  --color-main:#fff;
  --light-bg:#24baef;
  --border-color: #949cb0;

}.person{
  overflow: hidden;
  transition: all 1s;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 10px;
}
.person:hover{
  transform: scale(0.9);

}
.foo{
  background-color:var(--bg-main);
}.foo a{
  color:var(--color-main);
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  transition: all 0.5s;
}
.fab:hover{
color: var(--light-bg) !important;
cursor: pointer;
}

body{
  background-color: var(--bg-main);
  color: var(--color-main);
  font-family: 'Montserrat', sans-serif !important;
}
.brdr{
  background-color: var(--border-color);
  height: 1px;

}
.nav-link:hover{
  color: var(--light-bg) !important;

}
nav{
  color: var(--color-main) !important;

}

footer{
  background-color : var(--bg-main)
}
.vote{
  background-color: var(--light-bg);
}